<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- JS読込 -->
  <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta charset="UTF-8">
<title>作業一覧画面</title>
</head>
<body>

<div layout:replace="~{layout/navbar::navbar (作業一覧)}" >
</div>


	 <form method="get"  th:action="@{/task/input}">
	 <button class="btn btn-primary pull-right navbar-brand mb-3 ml-3">作業登録</button>
	 </form>

	 <!-- 検索フォーム -->
		<form id ="task-search-form" method="get" th:action="@{/task/list}"
				class="form-inline" >
		<div class="col-sm-6">
				<div class="form-group">
				<label class="col-form-label" for="taskName"></label>
				<input type="text" class="form-control" placeholder="作業名もしくは担当名" th:value="${searchword}" name="taskName" id="taskName">
				<button class="btn btn-primary pull-right navbar-brand mb-3 ml-3"  >検索</button>
			 	</div>
			</div>


		</form>

<!-- 一覧表示 -->

    <div class="col-7">
      <table class="table table-striped table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="th-width">項目名</th>
            <th class="th-width">担当者</th>
            <th class="th-width">登録日</th>
            <th class="th-width">期限日</th>
            <th class="th-width">完了日</th>
            <th class="th-width">操作</th>

          </tr>
        </thead>
        <tbody>
          <tr th:each="item: ${taskList}" th:classappend="${item.alert} ? 'alert alert-danger ' : ' ' "
          		th:styleappend="${item.alert} ? 'background-color : #f8d7da ' : ' ' "    >


            <td  th:text="${item.taskName}"></td>


            <td  th:text="${item.user.familyName} + ${item.user.firstName}"></td>


			<td  th:text="${#dates.format(item.registrationDate, 'YYYY/MM/dd')}"></td>


            <td  th:text="${#dates.format(item.expireDate, 'YYYY/MM/dd')}"></td>


            <td th:text="${#dates.format(item.finshedDate, 'YYYY/MM/dd')}"></td>

 			<td th:if="${#dates.createNow()}  gt ${item.expireDate} and ${not #strings.isEmpty(item.finshedDate)}">
              <a class="btn btn-primary" type="submit" th:name="update" th:href="@{'/task/update/' + ${item.id}}">
                更新
              </a>
              <a class="btn btn-primary" type="submit" th:name="deleted" th:href="@{'/task/deleted/' + ${item.id}}">
                削除
              </a>

                 <a th:if="${item.finshedDate} == null" class="btn btn-primary" type="submit" th:name="finshed" th:href="@{'/task/finshed/' + ${item.id}}">
                完了
              </a>
              <a th:if="${item.finshedDate} != null" class="btn btn-primary" type="submit" th:name="remove" th:href="@{'/task/remove/' + ${item.id}}">
                未完了
              </a>

            <td th:if="${#dates.createNow()}  gt ${item.expireDate} and ${item.finshedDate} == null" class="alert alert-danger">
              <a class="btn btn-primary" type="submit" th:name="update" th:href="@{'/task/update/' + ${item.id}}">
                更新
              </a>
              <a class="btn btn-primary" type="submit" th:name="deleted" th:href="@{'/task/deleted/' + ${item.id}}">
                削除
              </a>
                <a th:if="${item.finshedDate} == null" class="btn btn-primary" type="submit" th:name="finshed" th:href="@{'/task/finshed/' + ${item.id}}">
                完了
              </a>
              <a th:if="${item.finshedDate} != null" class="btn btn-primary" type="submit" th:name="remove" th:href="@{'/task/remove/' + ${item.id}}">
                未完了
              </a>

              <td th:if="${#dates.createNow()}  lt ${item.expireDate}">
              <a class="btn btn-primary" type="submit" th:name="update" th:href="@{'/task/update/' + ${item.id}}">
                更新
              </a>
              <a class="btn btn-primary" type="submit" th:name="deleted" th:href="@{'/task/deleted/' + ${item.id}}">
                削除
              </a>
                <a th:if="${item.finshedDate} == null" class="btn btn-primary" type="submit" th:name="finshed" th:href="@{'/task/finshed/' + ${item.id}}">
                完了
              </a>
              <a th:if="${item.finshedDate} != null" class="btn btn-primary" type="submit" th:name="remove" th:href="@{'/task/remove/' + ${item.id}}">
                未完了
              </a>


            </td>
          </tr>
        </tbody>
      </table>
    </div>

</body>
</html>